.contact-page { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #B90000;
}
.submit-button {
    width: 100px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #444;
  }